@import "../abstracts/variables";

.apartments{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 43px;
    gap: 60px;
    background-color: $background-grey;
    border-radius: 25px;
    padding: 56px 50px;
    
    &__item{
        position: relative;
        &-info{
            position: relative;
        }
        &-title{
            position: absolute;
            left: 20px;
            bottom: 20px;
            font-size: 18px;
            color: white;
            width: 40%;
            display: flex;
            text-align: start;
        }
        &-image{
            height: 340px;
            width: 340px;
            border-radius: 10px;
            object-fit: cover;
        }
    }
}

/* Medium devices (tablets, less/equal than 1040px) */
@media screen and (max-width: 1040px) {

    .apartments{
        margin-top: 30px;
        gap: 40px;
        margin-bottom: 30px;
        padding: 27px 25px;
        &__item-image{
            height: 300px;
            width: 300px;
        }
    }
    
}
  
/* Small devices (phones, less than 768px) */
@media screen and (max-width: 768px) {

    .apartments{
        margin-top: 22px;
        gap: 20px;
        margin-bottom: 20px;
        padding: 0;
        background-color: transparent;
        &__item-image{
            height: 255px;
            width: 335px;
        }
    }
}