@import "../abstracts/variables";

@keyframes slide-in {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0); }
}
@keyframes slide-out {
    0% { transform: translateY(0); }
    100% { transform: translateY(-100%); }
}

.collapse {
    position: relative;
    overflow: hidden;
    width: 100%;
    text-align: start;
    font-size: 18px;
    margin-top: 0px;

    &__header{
        position: relative;
        z-index: 2;
        width: 100%;
        background: $background-red;
        border-radius: 5px;
        border: none;
        justify-content: space-between;
        display: flex;
        color: white;
        padding: 10px 20px 10px 15px;
        align-items: center;
    }

    &__arrow{
        z-index: 2;
        cursor: pointer;
        transition: transform 0.5s ease;
        &--down {
            transform: rotate(0deg);
        }
        &--up {
            transform: rotate(-180deg);
        }
    }

    &__title {
        font-size: 24px;
    }

    &__content {
        max-height: 0;
        overflow: hidden;
        background: #F7F7F7;
        border-radius: 5px;
        color: #FF6060;
        padding: 20px 15px 15px 15px;
        transition: max-height 1s ease-in-out;
        &--visible {
            max-height: 500px; 
            animation: 1s slide-in;
        }
        &--hidden{
            max-height: 500px; 
            animation: 1s slide-out;
        }
    }
}

/* Medium devices (tablets, less/equal than 1040px) */
@media screen and (max-width: 1040px) {

    .collapse__header{
        font-size: 18px;
        padding: 16px 10px 23px 10px;
    }
    .collapse__arrow{
        width: 18px;
    }
    .collapse__title{
        font-size: 18px;
    }
}
  
/* Small devices (phones, less than 768px) */
@media screen and (max-width: 768px) {

    .collapse__header{
        font-size: 13px;
        padding: 5px 0px 5px 10px;
    }
    .collapse__arrow{
        width: 13px;
        margin-right: 12px;
    }
    .collapse__title{
        font-size: 13px;
    }
}
