.rating{
    display: flex;
    margin-top: 20px;
    gap: 10px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/* Medium devices (tablets, less/equal than 1040px) */
@media screen and (max-width: 1040px) {

    .rating{
        height: 18px;
    }
}

/* Small devices (phones, less than 768px) */
@media screen and (max-width: 768px) {  

    .rating{
        gap: 5px;
        height: 13px;
    } 
}