.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
    
    &__nav {
        display: flex;
        gap: 57px;
    }
    
    &__link {
        color: #FF6060;
        text-decoration: none;
        
        &--active {
            text-decoration: underline;
        }
    }
}